<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FormReset</title>
</head>
<head th:replace="fragments :: html_head(pageTitle='Login')" />
<body>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-body">
                    <form th:action="|@{http://localhost:8088/reset-email/ressttttt/}${token_reset}|" method="post" th:object="${user}">
                        <div class="border border-secondary rounded p-3">
                            <div>
                                <p><label>Nhập mật khẩu mới: </label>
                                    <input type="password" th:field="*{password}" required class="form-control" placeholder="Nhập mật khẩu mới ..." />
                                </p>
                            </div>
                            <div>
                                <p>
                                    <button type="submit" class="btn btn-primary" />Submit</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>