<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spam email</title>
</head>
<head th:replace="fragments :: html_head(pageTitle='Login')" />
<body>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-body">
                    <form th:action="@{/spam}" method="post" th:object="${user}">
                        <div class="border border-secondary rounded p-3">
                            <div>
                                <p><label>Nhập email spam: </label>
                                    <input type="text" th:field="*{username}" required class="form-control" placeholder="E-mail" />
                                </p>
                            </div>
                            <div>
                                <p>
                                    <button type="submit" class="btn btn-primary" />Submit</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>